## Preprocessing

In [1]:
# Import our dependencies
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#  Import and read the charity_data.csv.

charity_df = pd.read_csv("Resources/charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
target = ["IS_SUCCESSFUL"]
features = charity_df.drop(columns=["EIN", "IS_SUCCESSFUL"])

In [3]:
# Determine the number of unique values in each column.
unique_counts = features.nunique()

# Print the unique value counts for each column
print(unique_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = features["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = list(app_counts[app_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    charity_df['APPLICATION_TYPE'] =  charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = features["CLASSIFICATION"].value_counts()

# Print top 10 classification categories
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C1248        1
C3700        1
C1283        1
C8210        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts =features["CLASSIFICATION"].value_counts()
class_counts_greater_than_one = class_counts[class_counts >1]
class_counts_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1246        2
C3200        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set the cutoff value and create list of classifications to be replaced
cutoff = 1000
class_counts = charity_df["CLASSIFICATION"].value_counts()
classifications_to_replace = list(class_counts[class_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_features= pd.get_dummies(features)
encoded_features.head()

,STATUS,ASK_AMT,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays

# target = "IS_SUCCESSFUL"
# features = application_df.drop(["EIN", "NAME", target], axis=1)
# Split the preprocessed data into a training and testing dataset
X = encoded_features
y = charity_df[target].values

# Split the data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

#Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
from tensorflow.keras.models import Sequential
nn =Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=7, input_dim=len(X_train.columns), activation='relu'))
nn.add(tf.keras.layers.Dense(units=14, input_dim=len(X_train.columns), activation='sigmoid'))
nn.add(tf.keras.layers.Dense(units=21, input_dim=len(X_train.columns), activation='sigmoid'))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 137795

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 21)                315

 dense_3 (Dense)             (None, 1)                 22

=================================================================
Total params: 138,244
Trainable params: 138,244
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

checkpoint_path = "AlphabetSoupCharity_Optimisation.h5"

# Create a callback that saves the model's weights every five epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=2,
    save_weights_only=True,
    save_freq=5*len(X_train_scaled))

In [15]:
# Train the model
# nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, callbacks=[cp_callback])
nn.fit(X_train_scaled, y_train, epochs=100, shuffle=True, verbose=2)

Epoch 1/100
804/804 - 9s - loss: 0.5224 - accuracy: 0.7626 - 9s/epoch - 11ms/step
Epoch 2/100
804/804 - 7s - loss: 0.3451 - accuracy: 0.8591 - 7s/epoch - 8ms/step
Epoch 3/100
804/804 - 7s - loss: 0.2136 - accuracy: 0.9221 - 7s/epoch - 8ms/step
Epoch 4/100
804/804 - 7s - loss: 0.1604 - accuracy: 0.9427 - 7s/epoch - 8ms/step
Epoch 5/100
804/804 - 7s - loss: 0.1412 - accuracy: 0.9502 - 7s/epoch - 9ms/step
Epoch 6/100
804/804 - 7s - loss: 0.1296 - accuracy: 0.9526 - 7s/epoch - 9ms/step
Epoch 7/100
804/804 - 8s - loss: 0.1155 - accuracy: 0.9543 - 8s/epoch - 10ms/step
Epoch 8/100
804/804 - 7s - loss: 0.1078 - accuracy: 0.9599 - 7s/epoch - 9ms/step
Epoch 9/100
804/804 - 7s - loss: 0.1125 - accuracy: 0.9581 - 7s/epoch - 8ms/step
Epoch 10/100
804/804 - 6s - loss: 0.1362 - accuracy: 0.9475 - 6s/epoch - 7ms/step
Epoch 11/100
804/804 - 6s - loss: 0.1054 - accuracy: 0.9595 - 6s/epoch - 8ms/step
Epoch 12/100
804/804 - 6s - loss: 0.1074 - accuracy: 0.9589 - 6s/epoch - 8ms/step
Epoch 13/100
804/804 - 6s - loss: 0.0952 - accuracy: 0.9625 - 6s/epoch - 7ms/step
Epoch 14/100
804/804 - 6s - loss: 0.0952 - accuracy: 0.9630 - 6s/epoch - 8ms/step
Epoch 15/100
804/804 - 7s - loss: 0.0929 - accuracy: 0.9633 - 7s/epoch - 9ms/step
Epoch 16/100
804/804 - 6s - loss: 0.0911 - accuracy: 0.9632 - 6s/epoch - 8ms/step
Epoch 17/100
804/804 - 6s - loss: 0.0910 - accuracy: 0.9633 - 6s/epoch - 7ms/step
Epoch 18/100
804/804 - 6s - loss: 0.0908 - accuracy: 0.9637 - 6s/epoch - 8ms/step
Epoch 19/100
804/804 - 7s - loss: 0.0900 - accuracy: 0.9630 - 7s/epoch - 8ms/step
Epoch 20/100
804/804 - 7s - loss: 0.0892 - accuracy: 0.9641 - 7s/epoch - 9ms/step
Epoch 21/100
804/804 - 7s - loss: 0.0892 - accuracy: 0.9637 - 7s/epoch - 9ms/step
Epoch 22/100
804/804 - 7s - loss: 0.0886 - accuracy: 0.9637 - 7s/epoch - 9ms/step
Epoch 23/100
804/804 - 7s - loss: 0.0886 - accuracy: 0.9638 - 7s/epoch - 9ms/step
Epoch 24/100
804/804 - 7s - loss: 0.0878 - accuracy: 0.9646 - 7s/epoch - 8ms/step
Epoch 25/100
804/804 - 9s - loss: 0.0875 - accuracy: 0.9640 - 9s/epoch - 11ms/step
Epoch 26/100
804/804 - 7s - loss: 0.0876 - accuracy: 0.9640 - 7s/epoch - 8ms/step
Epoch 27/100
804/804 - 7s - loss: 0.0875 - accuracy: 0.9640 - 7s/epoch - 9ms/step
Epoch 28/100
804/804 - 7s - loss: 0.0875 - accuracy: 0.9648 - 7s/epoch - 9ms/step
Epoch 29/100
804/804 - 7s - loss: 0.0875 - accuracy: 0.9650 - 7s/epoch - 9ms/step
Epoch 30/100
804/804 - 6s - loss: 0.0872 - accuracy: 0.9647 - 6s/epoch - 8ms/step
Epoch 31/100
804/804 - 6s - loss: 0.0873 - accuracy: 0.9647 - 6s/epoch - 8ms/step
Epoch 32/100
804/804 - 5s - loss: 0.0865 - accuracy: 0.9645 - 5s/epoch - 7ms/step
Epoch 33/100
804/804 - 5s - loss: 0.0867 - accuracy: 0.9646 - 5s/epoch - 6ms/step
Epoch 34/100
804/804 - 6s - loss: 0.0869 - accuracy: 0.9645 - 6s/epoch - 7ms/step
Epoch 35/100
804/804 - 6s - loss: 0.0862 - accuracy: 0.9651 - 6s/epoch - 7ms/step
Epoch 36/100
804/804 - 6s - loss: 0.0863 - accuracy: 0.9649 - 6s/epoch - 7ms/step
Epoch 37/100
804/804 - 6s - loss: 0.0862 - accuracy: 0.9649 - 6s/epoch - 8ms/step
Epoch 38/100
804/804 - 7s - loss: 0.0860 - accuracy: 0.9652 - 7s/epoch - 9ms/step
Epoch 39/100
804/804 - 6s - loss: 0.0855 - accuracy: 0.9653 - 6s/epoch - 8ms/step
Epoch 40/100
804/804 - 6s - loss: 0.0857 - accuracy: 0.9651 - 6s/epoch - 8ms/step
Epoch 41/100
804/804 - 6s - loss: 0.0856 - accuracy: 0.9654 - 6s/epoch - 7ms/step
Epoch 42/100
804/804 - 5s - loss: 0.0856 - accuracy: 0.9652 - 5s/epoch - 7ms/step
Epoch 43/100
804/804 - 6s - loss: 0.0854 - accuracy: 0.9654 - 6s/epoch - 7ms/step
Epoch 44/100
804/804 - 7s - loss: 0.0850 - accuracy: 0.9654 - 7s/epoch - 9ms/step
Epoch 45/100
804/804 - 8s - loss: 0.0852 - accuracy: 0.9652 - 8s/epoch - 10ms/step
Epoch 46/100
804/804 - 7s - loss: 0.0849 - accuracy: 0.9651 - 7s/epoch - 9ms/step
Epoch 47/100
804/804 - 5s - loss: 0.0844 - accuracy: 0.9654 - 5s/epoch - 6ms/step
Epoch 48/100
804/804 - 6s - loss: 0.0844 - accuracy: 0.9653 - 6s/epoch - 7ms/step
Epoch 49/100
804/804 - 6s - loss: 0.0843 - accuracy: 0.9656 - 6s/epoch - 7ms/step
Epoch 50/100
804/804 - 5s - loss: 0.0838 - accuracy: 0.9658 - 5s/epoch - 6ms/step
Epoch 51/100
804/804 - 4s - loss: 0.0841 - accuracy: 0.9660 - 4s/epoch - 6ms/step
Epoch 52/100
804/804 - 5s - loss: 0.0840 - accuracy: 0.9660 - 5s/epoch - 7ms/step
Epoch 53/100
804/804 - 5s - loss: 0.0840 - accuracy: 0.9660 - 5s/epoch - 6ms/step
Epoch 54/100
804/804 - 4s - loss: 0.0836 - accuracy: 0.9659 - 4s/epoch - 5ms/step
Epoch 55/100
804/804 - 4s - loss: 0.0834 - accuracy: 0.9660 - 4s/epoch - 5ms/step
Epoch 56/100
804/804 - 4s - loss: 0.0835 - accuracy: 0.9663 - 4s/epoch - 5ms/step
Epoch 57/100
804/804 - 4s - loss: 0.0835 - accuracy: 0.9662 - 4s/epoch - 5ms/step
Epoch 58/100
804/804 - 4s - loss: 0.0833 - accuracy: 0.9659 - 4s/epoch - 5ms/step
Epoch 59/100
804/804 - 4s - loss: 0.0833 - accuracy: 0.9660 - 4s/epoch - 5ms/step
Epoch 60/100
804/804 - 4s - loss: 0.0834 - accuracy: 0.9662 - 4s/epoch - 5ms/step
Epoch 61/100
804/804 - 4s - loss: 0.0831 - accuracy: 0.9665 - 4s/epoch - 5ms/step
Epoch 62/100
804/804 - 4s - loss: 0.0828 - accuracy: 0.9662 - 4s/epoch - 5ms/step
Epoch 63/100
804/804 - 4s - loss: 0.0831 - accuracy: 0.9658 - 4s/epoch - 5ms/step
Epoch 64/100
804/804 - 4s - loss: 0.0828 - accuracy: 0.9654 - 4s/epoch - 5ms/step
Epoch 65/100
804/804 - 4s - loss: 0.0826 - accuracy: 0.9658 - 4s/epoch - 5ms/step
Epoch 66/100
804/804 - 4s - loss: 0.0824 - accuracy: 0.9664 - 4s/epoch - 5ms/step
Epoch 67/100
804/804 - 4s - loss: 0.0826 - accuracy: 0.9662 - 4s/epoch - 5ms/step
Epoch 68/100
804/804 - 4s - loss: 0.0826 - accuracy: 0.9668 - 4s/epoch - 5ms/step
Epoch 69/100
804/804 - 4s - loss: 0.0825 - accuracy: 0.9664 - 4s/epoch - 5ms/step
Epoch 70/100
804/804 - 4s - loss: 0.0826 - accuracy: 0.9665 - 4s/epoch - 5ms/step
Epoch 71/100
804/804 - 4s - loss: 0.0821 - accuracy: 0.9666 - 4s/epoch - 5ms/step
Epoch 72/100
804/804 - 5s - loss: 0.0821 - accuracy: 0.9664 - 5s/epoch - 6ms/step
Epoch 73/100
804/804 - 5s - loss: 0.0823 - accuracy: 0.9665 - 5s/epoch - 6ms/step
Epoch 74/100
804/804 - 6s - loss: 0.0822 - accuracy: 0.9665 - 6s/epoch - 8ms/step
Epoch 75/100
804/804 - 6s - loss: 0.0821 - accuracy: 0.9658 - 6s/epoch - 7ms/step
Epoch 76/100
804/804 - 7s - loss: 0.0819 - accuracy: 0.9662 - 7s/epoch - 8ms/step
Epoch 77/100
804/804 - 7s - loss: 0.0817 - accuracy: 0.9665 - 7s/epoch - 9ms/step
Epoch 78/100
804/804 - 7s - loss: 0.0817 - accuracy: 0.9663 - 7s/epoch - 8ms/step
Epoch 79/100
804/804 - 6s - loss: 0.0819 - accuracy: 0.9666 - 6s/epoch - 8ms/step
Epoch 80/100
804/804 - 6s - loss: 0.0820 - accuracy: 0.9666 - 6s/epoch - 7ms/step
Epoch 81/100
804/804 - 6s - loss: 0.0814 - accuracy: 0.9665 - 6s/epoch - 7ms/step
Epoch 82/100
804/804 - 6s - loss: 0.0818 - accuracy: 0.9661 - 6s/epoch - 8ms/step
Epoch 83/100
804/804 - 6s - loss: 0.0815 - accuracy: 0.9663 - 6s/epoch - 8ms/step
Epoch 84/100
804/804 - 6s - loss: 0.0813 - accuracy: 0.9668 - 6s/epoch - 8ms/step
Epoch 85/100
804/804 - 7s - loss: 0.0813 - accuracy: 0.9667 - 7s/epoch - 8ms/step
Epoch 86/100
804/804 - 7s - loss: 0.0842 - accuracy: 0.9666 - 7s/epoch - 8ms/step
Epoch 87/100
804/804 - 7s - loss: 0.0832 - accuracy: 0.9659 - 7s/epoch - 8ms/step
Epoch 88/100
804/804 - 6s - loss: 0.0830 - accuracy: 0.9665 - 6s/epoch - 8ms/step
Epoch 89/100
804/804 - 7s - loss: 0.0820 - accuracy: 0.9667 - 7s/epoch - 8ms/step
Epoch 90/100
804/804 - 6s - loss: 0.0817 - accuracy: 0.9667 - 6s/epoch - 8ms/step
Epoch 91/100
804/804 - 7s - loss: 0.0818 - accuracy: 0.9662 - 7s/epoch - 8ms/step
Epoch 92/100
804/804 - 6s - loss: 0.0813 - accuracy: 0.9669 - 6s/epoch - 8ms/step
Epoch 93/100
804/804 - 6s - loss: 0.0813 - accuracy: 0.9665 - 6s/epoch - 8ms/step
Epoch 94/100
804/804 - 7s - loss: 0.0809 - accuracy: 0.9668 - 7s/epoch - 8ms/step
Epoch 95/100
804/804 - 7s - loss: 0.0816 - accuracy: 0.9665 - 7s/epoch - 8ms/step
Epoch 96/100
804/804 - 7s - loss: 0.0811 - accuracy: 0.9672 - 7s/epoch - 8ms/step
Epoch 97/100
804/804 - 8s - loss: 0.0809 - accuracy: 0.9667 - 8s/epoch - 10ms/step
Epoch 98/100
804/804 - 7s - loss: 0.0812 - accuracy: 0.9664 - 7s/epoch - 8ms/step
Epoch 99/100
804/804 - 7s - loss: 0.0807 - accuracy: 0.9670 - 7s/epoch - 8ms/step
Epoch 100/100
804/804 - 6s - loss: 0.0810 - accuracy: 0.9667 - 6s/epoch - 8ms/step

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5473 - accuracy: 0.7624 - 1s/epoch - 5ms/step
Loss: 0.5472943186759949, Accuracy: 0.7624489665031433

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")