## Preprocessing

In [1]:
# Import our dependencies
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#  Import and read the charity_data.csv.

charity_df = pd.read_csv("Resources/charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
target = ["IS_SUCCESSFUL"]
features = charity_df.drop(columns=["EIN", "NAME", "IS_SUCCESSFUL"])

In [3]:
# Determine the number of unique values in each column.
unique_counts = features.nunique()

# Print the unique value counts for each column
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = features["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = list(app_counts[app_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    charity_df['APPLICATION_TYPE'] =  charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = features["CLASSIFICATION"].value_counts()

# Print top 10 classification categories
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1245        1
C2600        1
C4500        1
C1820        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts =features["CLASSIFICATION"].value_counts()
class_counts_greater_than_one = class_counts[class_counts > 1]
class_counts_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C1246        2
C1256        2
C1267        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set the cutoff value and create list of classifications to be replaced
cutoff = 1000
class_counts = charity_df["CLASSIFICATION"].value_counts()
classifications_to_replace = list(class_counts[class_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_features= pd.get_dummies(features)
encoded_features.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays

# target = "IS_SUCCESSFUL"
# features = application_df.drop(["EIN", "NAME", target], axis=1)
# Split the preprocessed data into a training and testing dataset
X = encoded_features
y = charity_df[target].values

# Split the data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

#Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=7, input_dim=len(X_train.columns), activation='relu'))
nn.add(tf.keras.layers.Dense(units=14, input_dim=len(X_train.columns), activation='relu'))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 7)                 819

 dense_3 (Dense)             (None, 14)                112

 dense_4 (Dense)             (None, 1)                 15

=================================================================
Total params: 946
Trainable params: 946
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

checkpoint_path = "AlphabetSoupCharity_Optimisation.h5"

# Create a callback that saves the model's weights every five epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5*len(X_train_scaled))

In [23]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6204 - accuracy: 0.6686
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5620 - accuracy: 0.7291
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5553 - accuracy: 0.7291
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5528 - accuracy: 0.7298
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5514 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5502 - accuracy: 0.7307
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7311
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5477 - accuracy: 0.7313
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5468 - accuracy: 0.7320
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5459 - accuracy: 0.7317
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7319
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7318
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7326
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5438 - accuracy: 0.7338
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7337
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7347
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7349
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7341
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7357
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7350
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7347
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7357
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7357
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7362
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7348
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7349
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7360
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7354
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7356
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7353
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7370
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7356
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7359
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7362
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7361
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7353
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7350
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7364
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7363
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7362
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7357
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7365
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7356
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7369
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7360
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7353
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7358
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7364
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7362
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7372
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7368
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7371
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7367
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7373
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7364
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7366
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7371
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7372
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7370
Epoch 81/100

804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7366
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7371
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7361
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7361
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7364
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7369
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7378
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7372
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7379
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7372
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7372
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7373
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7369
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7377
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7368

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5567 - accuracy: 0.7307 - 791ms/epoch - 3ms/step
Loss: 0.5567113161087036, Accuracy: 0.7307288646697998

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")